
<suite name="suite"  >
    <parameter name="Base_URL" value="http://172.21.0.31:8084" />

    <test name="frame">
        <classes>
            <parameter name="Action_URL" value="/ibnms/config/kbpListFrame.action" />
            <class name="com.code.test.LoginPageTest"></class>


            <class name="com.code.test.KpiFrameTest" >
                <parameter name="Action_URL" value="/ibnms/config/kpiListFrame.action" />
            </class>
        </classes>
    </test>


</suite>