<?xml version="1.0" encoding="UTF-8"?>
<suite name="selenium2" parallel="tests" thread-count="2">
    <parameter name="Base_URL" value="http://172.21.0.31:8084" />
    <test name="指标管理">
        <parameter name="node" value="http://127.0.0.1:5555/wd/hub"/>
        <classes>
            <!--class name="com.code.test.ibnmsConfig.LoginPageTest"></class-->
            <class name="com.code.test.ibnmsConfig.KbpFrameTest">
                <parameter name="Action_URL" value="/ibnms/config/kbpListFrame.action" />
            </class>
            <class name="com.code.test.ibnmsConfig.KpiFrameTest" >
                <parameter name="Action_URL" value="/ibnms/config/kpiListFrame.action" />
            </class>
            </classes>
        </test>

    <test name="资源管理">
        <parameter name="node" value="http://192.168.1.104:5555/wd/hub"/>
        <classes>
            <class name="com.code.test.ibnmsConfig.ResFrameTest" >
                <parameter name="Action_URL" value="/ibnms/config/resListFrame.action" />
            </class>
            <class name="com.code.test.ibnmsConfig.EnvListTest" >
                <parameter name="Action_URL" value="/cfgColl/listEnvironment.action" />
            </class>
        </classes>
    </test >
    <!--test name="部署配置">
        <classes>
            <class name="com.code.test.ibnmsConfig.MQListTest" >
                <parameter name="Action_URL" value="/cfgColl/listMq.action?type=1" />
            </class >
            <class name="com.code.test.ibnmsConfig.WKlistTest">
                <parameter name="Action_URL" value="/cfgColl/listWorkstation.action?type=1"/>
            </class>
            <class name="com.code.test.ibnmsConfig.PFListTest">
                <parameter name="Action_URL" value="/cfgColl/listPerformance.action?type=1" />
            </class>
            <class name="com.code.test.ibnmsConfig.AgListTest">
                <parameter name="Action_URL" value="/cfgColl/listAgent.action?type=1"></parameter>
            </class>
            <class name="com.code.test.ibnmsConfig.PmAlarmListTest">
                <parameter name="Action_URL" value="/cfgColl/listPmAlarm.action?type=1"></parameter>
            </class>
            <class name="com.code.test.ibnmsConfig.AppServerListTest">
                <parameter name="Action_URL" value="/ibnms/appDeploy/deployList.action"></parameter>
            </class>
            <class name="com.code.test.ibnmsConfig.AlarmPolicyTest">
                <parameter name="Action_URL" value="/ibnms/config/alarmPolicy/alarmPolicyList.action" />
            </class>
            <class name="com.code.test.ibnmsConfig.AlarmTemplateTest">
            <parameter name="Action_URL" value="/ibnms/config/alarmTemplate/alarmTemplateList.action" />
            </class>
            <class name="com.code.test.ibnmsConfig.TemplateDevListTest">
                <parameter name="Action_URL" value="/ibnms/config/alarmTemplate/templateDevList.action" />

            </class>
            <class name="com.code.test.ibnmsConfig.AlarmConFrameTest">
                <parameter name="Action_URL" value="/ibnms/config/alarmConfigFrame.action" />
            </class>
            <class name="com.code.test.ibnmsConfig.SubscripFilterListTest">
                <parameter name="Action_URL" value="/ibnms/config/subscripFilterList.action" />
                <methods><include name="operateSubscripFilter"></include></methods>
            </class>

            <class name="com.code.test.ibnmsConfig.AlarmShieldCfgTest">
                <parameter name="Action_URL" value="/ibnms/config/alarmShieldCfgList.action" />
            </class>

            <class name="com.code.test.ibnmsConfig.AlarmCorrelationCfgListTest">
                <parameter name="Action_URL" value="/ibnms/config/alarmCorrelationCfgList.action?type=database" />
            </class>
            <class name="com.code.test.ibnmsConfig.AlarmConfUpdateListTest">
                <parameter name="Action_URL" value="/ibnms/config/inputEventUpdateInfoList.action" />
            </class>

            <集中控制>
            <class name="com.code.test.C3P.CfgInstrFrameTest">
                <parameter name="Action_URL" value="/cfgInstr/instrFrame.action?groupType=0" />
                 <methods>
                    <include name="searchAlarmShield"></include>
                </methods>
            </class>
        </classes>
    </test-->
</suite>